@keyframes rotate-panel {
  0% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}

@keyframes text-down {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 20px, 0);
  }
}

.home {
  //background-image: url('/images/haus.jpg');
  background-image: url('/images/building.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;

  &::before {
    background-color: rgba(#fff, 0.85);
    content: '';
    height: 100vh;
    left: 0;
    position: absolute;
    width: 100%;

    @include breakpoint(large) {
      animation: rotate-panel 2s 1;
      animation-direction: alternate;
      background-color: rgba(#fff, 0.95);
      height: 90vh;
      left: -34%;
      min-height: 920px;
      overflow-x: hidden;
      overflow-y: hidden;
      top: -20%;
      transform: rotate(-4deg);
      width: 150%;
    }

    @include breakpoint(landscape) {
      height: 90vh;
      top: -10%;
    }
  }

  .masthead .logo-fill {
    fill: var(--color-primary);
  }

  .footer {
    background: none;
    margin-top: 0;

    svg {
      fill: var(--color-light);
    }

    a {
      color: var(--color-light);
    }
  }

  .content {
    align-items: flex-start;
    display: flex;
    overflow-x: hidden;
    position: relative;
    z-index: 1;

    @include breakpoint(medium) {
      padding-left: 4rem;
      padding-right: 4rem;
    }

    @include breakpoint(large) {
      min-height: 600px;
    }

    @include breakpoint(jumbo) {
      align-items: center;
      padding: 0;
    }

    a {
      border-bottom: 2px solid;

      @include breakpoint(medium) {
        border-bottom-width: 3px;
      }
    }

    .container {
      animation-delay: 0;
      animation-duration: 2s;
      animation-fill-mode: both;
      animation-name: text-down;
      animation-timing-function: cubic-bezier(0.66, 0.01, 0.82, 0.96) 0.4s;
    }
  }

  h1 {
    font-family: var(--font-sans-serif);
    font-size: 1.8rem;
    letter-spacing: -0.09rem;
    line-height: 2.2rem;
    margin: 10% 0 1rem;
    position: relative;
    z-index: 2;

    @include breakpoint(medium) {
      font-size: 3.4rem;
      line-height: 4rem;
      margin-top: 5%;
    }

    @include breakpoint(large) {
      margin-bottom: 2rem;
      margin-top: 5%;
    }

    @include breakpoint(jumbo) {
      font-size: 4.4rem;
      line-height: 5rem;
      margin-top: -18%;
      max-width: 86%;
    }

    @include breakpoint(landscape) {
      font-size: 2.2rem;
      line-height: 2.6rem;
      margin-top: 1%;
    }

    a {
      display: inline-block;

      @include breakpoint(large) {
        display: inline;
      }
    }
  }

  h2 {
    color: var(--color-light-gray);

    @include breakpoint(landscape) {
      font-size: 1.2rem;
      margin-top: 1rem;
    }

    a {
      display: inline-block;
    }
  }
}
