@keyframes rotate-panel {
  0% { transform: rotate(-2deg); }
  100% { transform: rotate(-4deg); }
}

@keyframes text-down {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(0, 20px, 0); }
}

.home {
  //background-image: url(/images/haus.jpg);
  background-image: url(/images/building.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-x: hidden;

  &::after {
    overflow-x: hidden;
    content: '';
    width: 150%;
    height: 88vh;
    position: absolute;
    top: -20%;
    left: -34%;
    background-color: rgba(#fff, 0.95);
    transform: rotate(-4deg);
    animation: rotate-panel 2s 1;
    animation-direction: alternate;

    @include breakpoint(large) {
      min-height: 820px;
      height: 90vh;
    }

    @include breakpoint(landscape) {
      top: -10%;
      height: 90vh;
    }

  }

  .masthead .logo-fill {
    fill: var(--color-primary);
  }

  .footer {
    background: none;
    margin-top: 0;

    svg {
      fill: var(--color-light);
    }

    a {
      color: var(--color-light);
    }

  }

  .content {
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 1;

    @include breakpoint(medium) {
      padding-left: 4rem;
      padding-right: 4rem;
    }

    @include breakpoint(large) {
      min-height: 600px;
    }

    @include breakpoint(jumbo) {
      padding: 0;
      align-items: center;
    }

    a {
      border-bottom: 2px solid;

      @include breakpoint(medium) {
        border-bottom-width: 3px;
      }

    }

    .container {
      animation-name: text-down;
      animation-duration: 2s;
      animation-timing-function: cubic-bezier(.66, .01, .82, .96) .4s;
      animation-delay: 0;
      animation-fill-mode: both;
    }

  }

  h1 {
    font-family: var(--font-sans-serif);
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: -.09rem;
    margin: 10% 0 1rem;
    position: relative;
    z-index: 2;

    @include breakpoint(medium) {
      font-size: 4.4rem;
      line-height: 5rem;
      margin-top: 5%;
    }

    @include breakpoint(large) {
      margin-top: 5%;
      margin-bottom: 2rem;
    }

    @include breakpoint(jumbo) {
      font-size: 4.8rem;
      line-height: 5.4rem;
      max-width: 72%;
      margin-top: -18%;
    }

    @include breakpoint(landscape) {
      margin-top: 1%;
      font-size: 2.2rem;
      line-height: 2.6rem;
    }

    a {
      display: inline-block;

      @include breakpoint(large) {
        display: inline;
      }

    }

  }

  h2 {
    color: var(--color-light-gray);

    @include breakpoint(landscape) {
      margin-top: 1rem;
      font-size: 1.2rem;
      line-height: 1.6rem;
    }

  }

}
