.brands {
  align-items: center;
  border-bottom: 1px dotted var(--color-border);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4rem auto 1rem;
  padding: 0 0 4rem;

  @include breakpoint(medium) {
    flex-wrap: nowrap;
  }

  span {
    align-items: center;
    display: flex;
    flex: 0 1 50%;
    justify-content: center;
    margin-bottom: 3rem;

    @include breakpoint(medium) {
      flex: 1 1 100%;
      margin-bottom: 0;
    }
  }

  svg { width: 90px; }
  .logo-ted { width: 70px; }
  .logo-mlb { width: 100px; }
  .logo-technically { width: 110px; }
  .logo-wharton { width: 100px; }
  .logo-samsung { width: 60px; }

  @media all and (min-width: 767px) and (max-width: 959px) {
    svg { width: 70px; }
    .logo-ted { width: 50px; }
    .logo-mlb { width: 80px; }
    .logo-technically { width: 90px; }
    .logo-wharton { width: 80px; }
    .logo-samsung { width: 40px; }
  }
}
