.brands {
  margin: 4rem auto 1rem;
  padding: 0 0 4rem;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  border-bottom: 1px dotted var(--color-border);

  @include breakpoint(medium) {
    justify-content: flex-start;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }

  @include breakpoint(large) {
    width: 90%;
    margin-left: 0;
    grid-template-columns: repeat(7, 1fr);
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg { width: 90px; }

  .logo-ted { width: 70px; }
  .logo-mlb { width: 100px; }
  .logo-technically { width: 110px; }
  .logo-wharton { width: 100px; }
  .logo-samsung { width: 60px; }

}
