.cta {
  color: var(--color-gray);
  position: sticky;
  top: 2rem;

  .availability {
    font-size: 0.95rem;
    font-weight: 700;

    .available {
      color: var(--color-available);
    }

    .limited {
      color: var(--color-limited);
    }
  }

  img {
    border-bottom: 4px solid #ddd;
    border-bottom-right-radius: 30px;
    border-right: 4px solid #ddd;
    border-top-left-radius: 30px;
    display: block;
    height: 280px;
    margin: 0 0 1.6rem;
    width: 280px;
  }

  h2 {
    color: var(--color-link);
    margin: 0 auto 0.5rem;
  }

  p {
    color: var(--color-light-gray);
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin: 0 0 1.6rem;
    max-width: 280px;
  }

  .imprint {
    display: none;
  }
}

.cta-social {
  a {
    align-items: center;
    display: flex;
    font-weight: 700;
    margin-bottom: 20px;
  }
}
