.footer {
  background-image:
    linear-gradient(
      #fff, rgba(#ddd, .6)
    );
  margin-top: 4rem;
  flex: 1 1 100px;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .9rem;
  color: var(--color-gray);
  font-weight: 700;

  @include breakpoint(medium) {
    margin-top: 8rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
  }

  @include breakpoint(large) {
    justify-content: flex-end;
  }

  @include breakpoint(landscape) {
    padding-bottom: .2rem;
  }

  a {
    display: inline-flex;
    align-items: center;
    margin: 0 10px;
  }

  span {
    display: none;
  }

  .imprint {
    padding: 0;
  }

}

