.footer {
  align-items: center;
  background-image: linear-gradient(
    #fff, rgba(#ddd, .6)
  );
  color: var(--color-gray);
  display: flex;
  flex: 1 1 100px;
  font-size: .9rem;
  font-weight: 700;
  justify-content: center;
  margin-top: 4rem;
  padding: 2rem 1rem;

  @include breakpoint(medium) {
    margin-top: 8rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @include breakpoint(large) {
    justify-content: flex-end;
  }

  @include breakpoint(landscape) {
    padding-bottom: .2rem;
  }

  a {
    align-items: center;
    display: inline-flex;
    margin: 0 10px;
  }

  span {
    display: none;
  }

  .imprint {
    padding: 0;
  }
}
