.contact-form {
  margin-top: 2rem;

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  legend {
    display: none;
  }

  p {
    margin-bottom: 2rem;
  }

  input:not([type=submit]),
  textarea {
    width: 87%;
    padding: 14px;
    outline: none;
    font-family: var(--font-sans-serif);
    font-size: 1rem;
    border: none;
    border-right: 4px solid var(--color-border);
    border-bottom: 4px solid var(--color-border);
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-image: linear-gradient(
      rgba(#eee, 0.6),
      rgba(#eee, 0.4)
      );

    @include breakpoint(large) {
      width: 98%;
      padding: 20px;
      font-size: 1.3rem;
    }

  }

  textarea {
    min-height: 220px;
    resize: none;
  }

  input[type=submit] {
    font-family: var(--font-sans-serif);
    font-size: 1.4rem;
    padding: 18px 36px;
    outline: none;
  }

  input.error-field,
  textarea.error-field {
    border-color: var(--color-error);
  }

  input.error-field::-webkit-input-placeholder,
  textarea.error-field::-webkit-input-placeholder {
    color: var(--color-error);
  }

  label {
    display: block;
    font-size: .8rem;
    font-weight: 700;
    color: var(--color-gray);
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 2px 2px 0;
  }

  .error-message {
    color: var(--color-error);
  }

}

.contact-form.thanks form,
.contact-form.thanks p {
 display: none;
}

.contact-form.thanks .thanks-message {
 display: block;
}


.contact-form .error-message,
.contact-form .thanks-message {
  display: none;
}

.contact-form .error-message.active,
.contact-form .thanks-message.active {
  color: #f00;
  margin-bottom: 3.0rem;
  display: block;
}
