.masthead {
  // position: sticky;
  // top: -1px;
  // z-index: 2;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 2.2rem 3rem;
  // box-shadow: inset 0 -8px 8px -10px var(--color-shadow);
}

.masthead-logo {
  flex: 1 1 50%;

  svg {
    margin: 0 0 -10px 4px;
  }

}

.logo-fill {
  fill: red;
}

.masthead-nav {
  flex: 1 1 50%;
  text-align: right;

  a {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0 4px 0 30px;
    color: #999;
    text-transform: uppercase;
  }

}
