.masthead {
  align-items: center;
  display: flex;
  min-height: 2rem;
  padding: 1.2rem;
  position: relative;
  z-index: 1;

  @include breakpoint(medium) {
    padding: 2.2rem 3rem;
  }
}

.masthead-logo {
  flex: 1 1 20%;

  @media all and (min-width: 1550px) {
    position: fixed;
  }

  svg {
    margin: 0 0 -4px 4px;
    width: 38px;

    @include breakpoint(medium) {
      margin-bottom: -10px;
      width: 77px;
    }

    .logo-fill {
      fill: var(--color-primary);
    }

    &:hover .logo-fill {
      fill: var(--color-link-hover);
    }
  }
}

.masthead-nav {
  flex: 1 1 80%;
  text-align: right;

  a {
    font-size: .75rem;
    font-style: normal;
    font-weight: 700;
    margin: 0 0 0 12px;
    padding: 0 0 3px;

    @include breakpoint(small-break1) {
      font-size: 1rem;
      margin-left: 18px;
    }

    @include breakpoint(small-break2) {
      margin-left: 26px;
    }

    @include breakpoint(medium) {
      font-size: 1.2rem;
      margin: 0 4px 0 30px;
    }

    .home &.nav-home,
    .projects &.nav-projects,
    .about &.nav-about,
    .contact &.nav-contact {
      border-bottom: 2px solid;
      color: var(--color-primary);
    }
  }
}
