.masthead {
  // position: sticky;
  // top: -1px;
  // z-index: 2;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 1.2rem;

  @include breakpoint(medium) {
    padding: 2.2rem 3rem;
  }

}

.masthead-logo {
  flex: 1 1 20%;

  svg {
    width: 38px;
    margin: 0 0 -4px 4px;

    @include breakpoint(medium) {
      width: 77px;
      margin-bottom: -10px;
    }

    .logo-fill {
      fill: var(--color-primary);
    }

    &:hover .logo-fill {
      fill: var(--color-link-hover);
    }

  }

}

.masthead-nav {
  flex: 1 1 80%;
  text-align: right;

  a {
    font-size: .75rem;
    font-weight: 700;
    font-style: normal;
    margin: 0 0 0 12px;
    padding: 0 0 3px;

    @include breakpoint(small-break1) {
      font-size: 1rem;
      margin-left: 18px;
    }

    @include breakpoint(small-break2) {
      margin-left: 26px;
    }

    @include breakpoint(medium) {
      font-size: 1.2rem;
      margin: 0 4px 0 30px;
    }

    .home &.nav-home,
    .projects &.nav-projects,
    .about &.nav-about,
    .contact &.nav-contact {
      border-bottom: 2px solid;
      color: var(--color-primary);
    }


  }


}
