<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }}/ {{ . }}{{ end }}{{ end }}</title>
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <link rel="stylesheet" href="/css/app.min.css">
  <meta property="og:title" content="Tom Rose">
  <meta property="og:description" content="Tom Rose is a Philadelphia-based freelance WordPress developer with over 20 years experience building websites with HTML, CSS and JavaScript.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://tomrose.dev">
  <meta property="og:image" content="/images/favicon-32x32.png">
  <meta property="og:site_name" content="Tom Rose">
  <meta name="description" content="Tom Rose is a Philadelphia-based freelance WordPress developer with over 20 years experience building websites with HTML, CSS and JavaScript.">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/images/site.webmanifest">
  <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/images/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  <link rel="stylesheet" href="https://use.typekit.net/nvf3doo.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139394121-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-139394121-1');
  </script>
</head>
