:root {
  --color-primary: #ff2d00;
  --color-gray: #374140;
  --color-light-gray: #777;
  --color-light: #fff;
  --color-dark: #2a2c2b;
  --color-link: var(--color-light-gray);
  --color-link-hover: #444;
  --color-shadow: #e8e8e8;
  --color-border: #eee;
  --color-github: #181717;
  --color-instagram: #e4405f;
  --color-twitter: #1da1f2;
  --color-linkedin: #0077b5;
  --color-limited: rgb(219, 144, 4);
  --color-available: rgb(9, 151, 9);
}
