.wrap {
  position: relative;
  z-index: 2;
  max-width: 1900px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
}

.content {
  flex: 1 1 100%;
}

.container {
  padding: 0 2.5rem;
  margin: 0 auto;

  @include breakpoint(medium) {
    padding-left: 3rem;
    padding-right: 3rem;
    max-width: 1200px;
  }

}

.split {
  position: relative;
  z-index: 2;

  @include breakpoint(large) {
    display: flex;
  }

  .split-content {
    padding-bottom: 4rem;

    @include breakpoint(large) {
      flex: 1 1 68%;
      padding: 0 6rem 0 0;
    }

  }

  .split-sidebar {

    @include breakpoint(large) {
      flex: 1 1 32%;
    }

  }

}

.about .split-sidebar img {
  display: none;

  @include breakpoint(large) {
    display: block;
  }

}

.contact .split-sidebar h2 {
  display: none;

  @include breakpoint(large) {
    display: block;
  }

}
